.Btn{
  border: 0;
  width:90%;
  /*width:43.1rem;*/
  height:5rem;
  margin: 3.3rem auto;
  margin-bottom: 3.3rem !important;
  font-size: 2.13rem;
  line-height: 1rem;
  background-color: #5676EA;
}
.btn-primary.active, .btn-primary:active, .btn-primary:hover{
  background: #9aadf2;
}
