.modal-backdrop{
   background: rgba(0, 0, 0, 0.3);
 }
.modal-body+.modal-footer{
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.modal-body{
  padding: 1.5rem .625rem;
  color: #222231;
}
.modal-inner{
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
.modal-btn{
  font-size: 1.8rem;
}
